.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.ant-modal.create-messenger-edit-lead-modal .ant-modal-body {
  padding: 0px;
}

.ant-modal.create-messenger-edit-lead-modal .ant-modal-content .ant-modal-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 19px 16px;
}

.ant-modal.create-messenger-edit-lead-modal .ant-modal-content {
  width: 722px;
  height: 100%;
  position: relative;
  right: 200px;
  border-radius: 8px;
}

.ant-modal.add-to-pipeline-modal .ant-modal-content {
  width: 722px;
  height: 100px;
  position: relative;
  right: 200px;
  border-radius: 8px;
}
.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content {
  right: 184px !important;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content .pipeline-modal-label.checkbox-item-wrapper label {
  margin: 0px !important;
  color: #272b41 !important;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content .pipeline-modal-label.checkbox-item-wrapper {
  display: flex;
  align-items: center;
  width: 389px;
  padding: 0px 0px;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content .ant-select {
  width: 260px;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content h2.mb-3.text-center.color-dark.pipeline-modal-heading span {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 0px !important;
  text-align: center;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content label {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #272b41 !important;
  margin: 0px;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content .modal-footer.d-flex.justify-content-center button:nth-child(1) {
  border: 1px solid #e3e6ef;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #9299b8;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content .modal-footer.d-flex.justify-content-center button:nth-child(2):hover {
  color: #5f63f2;
  background: #fff;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content .modal-footer.d-flex.justify-content-center button:nth-child(2) {
  border: 1px solid #e3e6ef;
  background: #5f63f2;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  border-radius: 4px;
}

.ant-modal.create-messenger-edit-lead-modal.messenger-assign-lead-modal .ant-modal-content {
  width: 100%;
  right: 82px;
}

.create-messenger-edit-lead-modal .ant-modal-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  font-family: inter, sans-serif !important;
}

.ant-modal.create-messenger-edit-lead-modal .ant-modal-content .ant-modal-body {
  padding-bottom: 0px !important;
}

.ant-modal.create-messenger-edit-lead-modal .ant-modal-content {
  width: 722px;
  height: 100%;
  position: relative;
  right: 200px;
  border-radius: 8px;
}

.ant-modal.create-messenger-edit-lead-modal .ant-modal-content .ant-modal-body {
  padding-bottom: 0px !important;
}

body {
  width: 500px;
  height: 400px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.sideBar {
  background: rgb(102, 145, 230);
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  overflow: auto;
  height: calc(100%);
  position: fixed;
  left: 0px;
  z-index: 4;
  flex: 0 0 100px;
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-items {
  color: #ffffff;
  background-color: darkcyan;
  font-size: 14px;
  padding: 0 0 0 0;
  margin: 0px 2px 0px 0px;
}

.item {
  margin-top: 0px;
}

.resource-icon {
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
}

.popup-resource {
  margin: 218px 16px 0px 16px;
}

.support {
  color: #ffffff;
  font-size: 12px;
  margin-left: 5px;
}

.chat {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.pro {
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.social {
  margin: 20px 2px 10px 17px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.menuBar {
  background-color: #ffffff !important;
  padding: 0px 20px 0px 0px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
}

.logo {
  width: 150px;
  float: left;
}

.user-modal {
  border-radius: 30px;
  margin-top: 5px;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.chat-home {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.menuCon {
  display: flex;
  float: left;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
}

img.social-icons-wrapper.position-absolute {
  position: absolute;
  top: 29px;
  right: 18px;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .logo a {
    padding: 10px 20px;
  }
}

.logged-div {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  line-height: 1.5em;
}

.licensing-form {
  margin: 70px 150px !important;
}

.heading-log {
  font-size: 28px;
  display: flex;
  color: rgb(95, 99, 242);
}

.heading-log-flex {
  display: flex;
  max-width: 466px;
  font-weight: 600;
}

.heading-log-bold {
  color: rgb(95, 99, 242);
  font-size: 32px;
  font-weight: bold;
}

.label-log {
  font-size: 20px;
}







.home-div {
  display: block;
  padding: 19px;
  height: 350px !important;
  overflow: auto;
}

.home-div ul li {
  color: #1b91ff;
}

.home-div-wrapper {
  display: block;
  padding: 24px;
}

.home-pro {
  color: darkcyan;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.home-space {
  margin-top: 12px;
  margin-right: 1px;
}

.ant-div-main-wrap {
  display: flex !important;
}

.ant-layout {
  flex: none !important;
  background-color: darkcyan !important;
}

.ant-layout-sider {
  background: none !important;
}

.sideBar {
  height: 388px;
}

.video-span {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  display: block;
  margin-right: 13px;
}

.ant-menu-vertical .ant-menu-item {
  width: auto !important;
}